<% @card_installments.each do |month_year, installments| %>
  <div class="relative overflow-x-auto shadow-lg sm:rounded-lg m-5">
    <div class="p-5 bg-white">
      <div class="my-5 font-bold text-black text-4xl hover:text-blue-400 flex justify-between">
        <h1>
          <%= l month_year, format: "%B %Y" %>
        </h1>
        <h1>
          <%= "R$ #{from_cent_based_to_float(installments.sum(&:price))}" %>
        </h1>
      </div>
    </div>

    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
      <thead class="text-xxs text-black uppercase bg-gray-100">
        <tr class="border border-gray-200">
          <th scope="col" width=" 5%" class="p-4"></th>
          <th scope="col" width=" 5%" class="px-6 py-3">Date</th>
          <th scope="col" width="40%" class="px-6 py-3 border-x border-gray-200 text-center">Description</th>
          <th scope="col" width="20%" class="px-6 py-3 border-x border-gray-200 text-center">Categories</th>
          <th scope="col" width="20%" class="px-6 py-3 border-x border-gray-200 text-center">Entities</th>
          <th scope="col" width=" 5%" class="px-6 py-3 border-x border-gray-200 text-center">Price</th>
          <th scope="col" width=" 5%" class="px-6 py-3 border-x border-gray-200 text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
        <%= render installments %>
      </tbody>
    </table>
  </div>
<% end %>
