<% @card_installments.each do |month_year, installments| %>
  <div class="relative overflow-x-auto shadow-lg sm:rounded-lg m-5">
    <div class="p-5 bg-white">
      <div class="my-5 font-bold text-black text-4xl hover:text-blue-400 flex justify-between">
        <h1>
          <%= l month_year, format: "%B %Y" %>
        </h1>
        <h1>
          <%= "R$ #{from_cent_based_to_float(installments.sum(&:price))}" %>
        </h1>
      </div>

      <label for="table-search" class="sr-only">Search</label>
      <div class="relative mt-1">
        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none" >
          <svg class="w-4 h-4 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" >
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>

          <input type="text"
                 id="table-search"
                 class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                 placeholder="Search for items" >
      </div>
    </div>

    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
      <thead class="text-xxs text-black uppercase bg-gray-100">
        <tr class="border border-gray-200">
          <th scope="col" class="p-4">
            <div class="flex items-center">
              <input id="checkbox-all-search"
                     type="checkbox"
                     class=" w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 focus:ring-2" >
                     <label for="checkbox-all-search" class="sr-only">checkbox</label>
            </div>
          </th>

          <th scope="col" width=" 5%" class="px-6 py-3">Date</th>
          <th scope="col" width="40%" class="px-6 py-3 border-x border-gray-200 text-center">Description</th>
          <th scope="col" width="20%" class="px-6 py-3 border-x border-gray-200 text-center">Categories</th>
          <th scope="col" width="20%" class="px-6 py-3 border-x border-gray-200 text-center">Entities</th>
          <th scope="col" width=" 5%" class="px-6 py-3 border-x border-gray-200 text-center">Price</th>
        </tr>
      </thead>

      <tbody>
        <%= render installments %>
      </tbody>
    </table>
  </div>
<% end %>
