<div class="nested-form-wrapper" data-new-record="<%= form.object.new_record? %>">
  <div class="flex space-x-12">
    <div class="flex w-1/4 flex-col my-6">
      <%= render TextFieldComponent.new(form:, field: :number, options: { type: :number }) %>
    </div>
    <div class="flex w-1/4 flex-col my-6">
      <%= render TextFieldComponent.new(form:, field: :price, options: { type: :number }) %>
    </div>
    <div class="flex w-1/4 flex-col my-6">
      <%= render ButtonComponent.new(options: { label: action_model(:destroy, Installment), colour: :red, data: { action: "nested-form#remove" } }) %>
    </div>
  </div>
</div>
