<%= turbo_frame_tag "edit_card_transaction_#{@card_transaction.id}" do %>
  <div class='w-full bg-white p-4 rounded-md mt-4'>
    <h1 class='text-lg font-bold'>Edit Card Transaction</h1>

    <%= render "form", card_transaction: @card_transaction %>

    <%= link_to "Delete", card_transaction_path(@card_transaction), data: { turbo_method: :delete },
                                                                    class: "ml-2 rounded-lg py-3 px-5 bg-red-600 inline-block font-medium text-gray-200" %>

    <%= link_to "Back to Card Transactions", card_transactions_path,
                class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
<% end %>
