<%= turbo_frame_tag :center_container do %>
  <h1 class='text-4xl text-black font-semibold'>New Card Transaction</h1>

  <%= render 'form', card_transaction: @card_transaction %>

  <%= link_to 'Back to Card Transactions', card_transactions_path, class: 'ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium' %>
<% end %>
