<%= turbo_frame_tag :center_container do %>
  <h1 class='m-2 text-4xl leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none sm:tracking-tight lg:text-6xl'>New Card Transaction</h1>

  <%= render "form", card_transaction: @card_transaction %>
<% end %>
