<% if resource.errors.any? %>
  <div id='error_explanation' class="pb-4" data-turbo-cache='false'>
      <% resource.errors.full_messages.each do |message| %>
        <ul class='bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4 transition transform hover:-translate-y-1'>
            <li class='alert block text-red-600'><%= message %></li>
        </ul>
      <% end %>
  </div>
<% end %>
