<% if wrapper %>
  <div class="relative w-full min-w-[200px]">
<% end %>

  <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
    <%= render "shared/svgs/#{options[:svg]}" if options[:svg] %>
  </div>
  <% if options[:type] == :select && items.present? %>
    <%= form.select field, items, {}, options %>
  <% elsif options[:type] == :textarea %>
    <%= form.text_area field, options %>
  <% else %>
    <%= form.text_field field, options %>
  <% end %>

<% if wrapper %>
  </div>
<% end %>
