<% if wrapper %>
  <div class="relative w-full min-w-[200px]">
<% end %>

  <% if options[:type] == :select && items.present? %>
    <%= form.select field, items, {}, options %>
  <% elsif options[:type] == :textarea %>
    <%= form.text_area field, options %>
  <% else %>
    <%= form.text_field field, options %>
  <% end %>

  <%= form.label field, options[:label], class: label_class, for: options[:id] %>

<% if wrapper %>
  </div>
<% end %>
