<% opts = {
  id: options[:id],
  value: options[:value],
  autocomplete: options[:autocomplete],
  autofocus: options[:autofocus],
  class: input_class,
  data: options[:data]
} %>

<% if wrapper %>
  <div class="relative w-full min-w-[200px]">
<% end %>

  <% if options[:type] == :select && items.present? %>
    <%= form.select field, items, {}, opts %>
  <% elsif options[:type] == :textarea %>
    <%= form.text_area field, opts %>
  <% else %>
    <%= form.text_field field, opts.merge(placeholder: " ", type: options[:type], step: options[:step]) %>
  <% end %>

  <%= form.label field, options[:label], class: label_class, for: options[:id] %>

<% if wrapper %>
  </div>
<% end %>
