<%= turbo_frame_tag :center_container do %>
  <div class="flex justify-between">
    <%= link_to "Existing Entities",
                entities_path,
                class: "rounded-lg py-3 px-5 bg-gray-200 shadow-sm block font-medium",
                data: { turbo_frame: :center_container } %>
  </div>

  <%= render "entities/form", entity: @entity %>
<% end %>
