<div class='w-full'>
  <div class="flex justify-center">
    <div class="w-2/3">
      <%= render TabsComponent.new(items: @main_tab, default: true, dependents: @sub_tab) %>
    </div>
  </div>

  <div class='flex justify-center mt-14'>
    <%= turbo_frame_tag :center_container %>
  </div>
</div>
