<div class="w-full">
  <div class="flex justify-center mb-10">
    <div class="w-screen">
      <%= turbo_frame_tag :tabs do %>
        <%= render "shared/tabs" %>
      <% end %>
    </div>
  </div>

  <div class=" mx-1 break-words bg-white shadow-md dark:shadow-red-50 rounded-lg">
    <%= content_tag :div, class: "p-1 md:p-2 lg:p-3" do %>
      <div class="text-center text-black pt-2">
        <%= turbo_frame_tag :center_container %>
      </div>
    <% end %>
  </div>
</div>
