<div class="w-full">
  <div class="flex justify-center">
    <div class="w-screen hidden sm:block scale-120">
      <%= turbo_frame_tag :tabs do %>
        <%= render "shared/tabs" %>
      <% end %>
    </div>
  </div>

  <!-- TODO: change scale to 120 like tabs AFTER DEMOLISHING tables in favour of divs -->
  <div class="my-16 mx-1 break-words bg-white shadow-md dark:shadow-red-50 rounded-lg scale-x-120">
    <div class="p-6">
      <div class="text-center text-black pt-2">
        <%= turbo_frame_tag :center_container %>
      </div>
    </div>
  </div>
</div>
