<div class="mb-8" data-datatable-target="table">
  <%= content_tag :span, nil,
                  class: "py-3 col-start-7 text-end",
                  id: :priceSum,
                  data: { controller: "price-sum", price: @cash_installments.sum(:price) + @budgets.sum(:remaining_value) } %>

  <fieldset class="grid grid-cols-1 border border-slate-200 rounded-lg p-4 mb-4">
    <%= content_tag :legend, @month_year_str, class: "px-2 text-lg text-slate-800 text-start" %>

    <%= render @cash_installments %>
    <%= render partial: "budgets/budget", collection: @budgets, as: :budget %>
  </fieldset>
</div>
