<%= turbo_frame_tag :center_container do %>
  <div class="flex justify-between">
    <%= link_to "Existing User Cards",
                user_cards_path,
                class: "rounded-lg bg-gray-200 shadow-sm py-3 px-5 block font-medium",
                data: { turbo_frame: :center_container } %>
  </div>

  <%= render "user_cards/form", user_card: @user_card %>
<% end %>
