<%= turbo_frame_tag :center_container do %>
  <div class="flex justify-between">
    <%= link_to "Existing Categories",
                categories_path,
                class: "rounded-lg py-3 px-5 bg-gray-200 shadow-sm block font-medium",
                data: { turbo_frame: :center_container } %>
  </div>

  <%= render "categories/form", category: @category %>
<% end %>
