<%= turbo_frame_tag :center_container do %>
  <div class='w-full'>
    <div class='flex justify-between items-center'>
      <h1 class='text-white font-bold text-4xl'>Transactions</h1>
    </div>

  </div>
<% end %>
